webUsername="admin"
webPassword="<PalWorldSettings.ini AdminPassword>"
webPort=<RESTAPIPort|8212>
gamePort=<PublicPort|8211>
steamcmd="<full path of steamcmd.exe|C:\steamcmd\steamcmd.exe>"
palworld="<full path of PalServer|C:\steamcmd\steamapps\common\PalServer>"